# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Create reference to CSV file
csv_path = "../output_data/city_data.csv"

# Import the CSV into a pandas DataFrame
vacation_df = pd.read_csv(csv_path)
vacation_df.head()

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
0,aanekoski,62.69,25.82,59.00,82,24,10.29,FI,1597551915
1,qaanaaq,77.48,-69.36,34.36,85,3,3.80,GL,1597551794
2,ushuaia,-54.80,-68.30,33.80,80,90,6.93,AR,1597551726
3,iqaluit,63.75,-68.51,46.40,93,90,19.46,CA,1597551730
4,vila velha,-20.33,-40.29,75.99,83,75,3.36,BR,1597551916

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [ ]:
vacation_df.dtypes

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
#A max temperature lower than 90 degrees but higher than 70.
new_df = vacation_df.loc[vacation_df["Max_Temp"]<90,:]
new_df = vacation_df.loc[vacation_df["Max_Temp"]>70,:]

#Wind speed less than 5 mph.
new_df = vacation_df.loc[vacation_df["Wind_Speed"]<5,:]

#No clouds.
new_df = vacation_df.loc[vacation_df["Cloudiness"]==0,:]

new_df

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
17,san rafael,-34.62,-68.33,44.10,51,0,7.47,AR,1597551919
24,guerrero negro,27.98,-114.06,77.79,56,0,9.89,MX,1597551649
38,behbahan,30.60,50.24,87.80,25,0,6.93,IR,1597551924
41,rikitea,-23.12,-134.97,71.20,76,0,15.57,PF,1597551770
43,chuy,-33.70,-53.46,44.56,69,0,9.10,UY,1597551785
...,...,...,...,...,...,...,...,...,...
521,hervey bay,-25.30,152.85,75.20,31,0,14.99,AU,1597552038
522,rio grande,-32.03,-52.10,50.00,74,0,10.13,BR,1597551804
528,byron bay,-28.65,153.62,73.00,40,0,17.22,AU,1597552040
529,nuuk,64.18,-51.72,42.80,81,0,10.29,GL,1597552041
531,okato,-39.20,173.88,55.00,46,0,1.01,NZ,1597552041

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_df = pd.DataFrame()
hotel_df['City'] = new_df['City']
hotel_df['Country'] = new_df['Country']
hotel_df['Lat'] = new_df['Lat']
hotel_df['Lng'] = new_df['Lng']
hotel_df['Hotel Name'] = ""
hotel_df.head()

              City Country    Lat     Lng Hotel Name
17      san rafael      AR -34.62  -68.33
24  guerrero negro      MX  27.98 -114.06
38        behbahan      IR  30.60   50.24
41         rikitea      PF -23.12 -134.97
43            chuy      UY -33.70  -53.46

In [ ]:
# params = {
#     "location":"-34.62,-68.33",
#     "radius":5000,
#     "type":"lodging",
#     "keyword":"Hotel",
#     "key": g_key
#     }

# test_base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# test_hotel_names = requests.get(base_url, params=params)
# test_hotel_names=test_hotel_names
# print(test_hotel_names.url)
# # print(json.dumps(test_hotel_names, indent=4, sort_keys=True))

In [11]:
# params dictionary to update each iteration
params = {
    "radius":5000,
    "type":"lodging",
    "keyword":"hotel",
    "key": g_key
}

# Use the lat/lng for location
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    # change location each iteration while leaving original params in place
    params["location"] = f"{lat}, {lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    hotel_names = requests.get(base_url, params=params)
    
    # convert to json
    hotel_names  = hotel_names.json()

    # response = requests.get(base_url, params=params).json()

    #print(json.dumps(hotel_names, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotel_names["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
hotel_df.info()

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
<class 'pandas.core.frame.DataFrame'>
Int64Index: 85 entries, 17 to 531
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        85 non-null     object
 1   Country     81 non-null     object
 2   Lat         85 non-null     float64
 3   Lng         85 non-null     float64
 4   Hotel Name  85 non-null     object
dtypes: float64(2), object(3)
memory usage: 6.5+ KB

In [ ]:
hotel_df['Hotel Name'].value_counts()

In [ ]:
response = requests.get(base_url, params=params).json()
response['results'][0]['name']

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [9]:
# Add marker layer ontop of heat map

figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))

# Create hotel symbol layer
hotel_layer = gmaps.marker_layer(
    locations,info_box_content=[info_box_template.format(**row) for index, row in hotel_df.iterrows()]
)


# Add layer
fig.add_layer(hotel_layer)
# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…